.stars-1
{
    position: absolute;
    left: 0%;
    top: 300px;
    opacity: 0.3;
    width: 23.09%;
    height: auto;
    z-index: 1;
}

.stars-2
{
    position: absolute;
    right: 0%;
    top: 0px;
    opacity: 0.3;
    width: 23.09%;
    height: auto;
    z-index: 1;
}

.stars-3
{
    position: absolute;
    right: 0%;
    top: 600px;
    opacity: 0.3;
    width: 23.09%;
    height: auto;
    z-index: 1;
}

.stars-4
{
    position: absolute;
    left: 0%;
    top: 1300px;
    opacity: 0.3;
    width: 23.09%;
    height: auto;
    z-index: 1;
}

.stars-5
{
    position: absolute;
    right: 0%;
    top: 1000px;
    opacity: 0.3;
    width: 23.09%;
    height: auto;
    z-index: 1;
}

.stars-6
{
    position: absolute;
    right: 0%;
    top: 1600px;
    opacity: 0.3;
    width: 23.09%;
    height: auto;
    z-index: 1;
}

.stars-7
{
    position: absolute;
    left: 0%;
    top: 2300px;
    opacity: 0.3;
    width: 23.09%;
    height: auto;
    z-index: 1;
}

.stars-8
{
    position: absolute;
    right: 0%;
    top: 2000px;
    opacity: 0.3;
    width: 23.09%;
    height: auto;
    z-index: 1;
}

.stars-9
{
    position: absolute;
    right: 0%;
    top: 2600px;
    opacity: 0.3;
    width: 23.09%;
    height: auto;
    z-index: 1;
}

.stars-10
{
    position: absolute;
    left: 0%;
    top: 3300px;
    opacity: 0.3;
    width: 23.09%;
    height: auto;
    z-index: 1;
}

.stars-11
{
    position: absolute;
    right: 0%;
    top: 3000px;
    opacity: 0.3;
    width: 23.09%;
    height: auto;
    z-index: 1;
}

.stars-12
{
    position: absolute;
    right: 0%;
    top: 3600px;
    opacity: 0.3;
    width: 23.09%;
    height: auto;
    z-index: 1;
}

.stars-13
{
    position: absolute;
    left: 0%;
    top: 4300px;
    opacity: 0.3;
    width: 23.09%;
    height: auto;
    z-index: 1;
}

.stars-14
{
    position: absolute;
    right: 0%;
    top: 4000px;
    opacity: 0.3;
    width: 23.09%;
    height: auto;
    z-index: 1;
}

.stars-15
{
    position: absolute;
    right: 0%;
    top: 4600px;
    opacity: 0.3;
    width: 23.09%;
    height: auto;
    z-index: 1;
}

.stars-16
{
    position: absolute;
    left: 0%;
    top: 5300px;
    opacity: 0.3;
    width: 23.09%;
    height: auto;
    z-index: 1;
}

.stars-17
{
    position: absolute;
    right: 0%;
    top: 5000px;
    opacity: 0.3;
    width: 23.09%;
    height: auto;
    z-index: 1;
}

.stars-18
{
    position: absolute;
    right: 0%;
    top: 5600px;
    opacity: 0.3;
    width: 23.09%;
    height: auto;
    z-index: 1;
}

.stars-19
{
    position: absolute;
    left: 0%;
    top: 6300px;
    opacity: 0.3;
    width: 23.09%;
    height: auto;
    z-index: 1;
}

.stars-20
{
    position: absolute;
    right: 0%;
    top: 6000px;
    opacity: 0.3;
    width: 23.09%;
    height: auto;
    z-index: 1;
}

.stars-21
{
    position: absolute;
    right: 0%;
    top: 6600px;
    opacity: 0.3;
    width: 23.09%;
    height: auto;
    z-index: 1;
}